* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background: lightskyblue;
    font-family: Chalkboard, sans-serif;
}

h1 {text-align: center;}

h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.green-box {
    background: green;
    height: 1em;
    width: 2em;
}

.border {border: 2px solid black;}

.card {
    width: 400px;
    height: 800px;
    background: white;
    padding: 1em;
    margin: 0 auto;

    /* enter needed declarations here */
}

section {
    /* enter needed declarations here */
}

section:nth-of-type(1) {
    height: 3em;
    background: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* enter needed declarations here */
}
section:nth-of-type(1) div:last-child {
    align-self: flex-start;
    /* enter needed declarations here */
}



.purple-box {
    background: fuchsia;
    width: 3em;
    height: 1em;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    height: 2em;
}

.purple-box:nth-of-type(1) {
    flex-grow: 1;

    /* enter needed declarations here */
}

.purple-box:nth-of-type(2) {
    flex-grow: .5;
    /* enter needed declarations here */
}

.blue-box {
    width: 100%;
    background: blue;
    height: 10em;
}

section:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    /* enter needed declarations here */
}

section:nth-of-type(3) h3 {
    flex: auto;
    align-content: center;
    padding: 1em;
    /* enter needed declarations here */
}

.orange-circle {
    background: orange;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 1em;
}

.large-brown-box {
    height: 5em;
    width: 6em;
    background: brown;
    display: inline-flex;
    margin-left: 1em;
    /* enter needed declarations here */
}

.large-brown-box:nth-of-type(2) {
    margin: 0 1em;
}

section:nth-of-type(5) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;

    /* enter needed declarations here */
}

.yellow-box {
    background: yellow;
    width: 2em;
    height: 2em;
}

section:nth-of-type(6) {
    background: coral;
    height: 14em;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end;
    /* enter needed declarations here */
}

.grey-box {
    background: grey;
    width: 3em;
    height: 3em;
}

.grey-box:nth-of-type(odd) {
    height: 4em;
}