@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    list-style: none;
    background-color: lightgray;
    font-family: "Work Sans";
}

.container > li {
    flex-grow: 1;
}

.container > li > a {
    display: inline-block;
    align-items: center;
    color: black;
}


/*li, a {*/
/*    font-family: "Work Sans";*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    color: black;*/
/*}*/

/*header {*/
/*    background-color: lightgray;*/

/*}*/

/*.nav_links {*/
/*    list-style: none;*/

/*}*/

/*.nav_links li {*/
/*    display: inline-block;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/


/*.nav_links li a:hover {*/
/*    color: blue;*/
/*}*/

/*#logo {*/
/*    font-family: Montserrat;*/
/*    font-weight: bold;*/
/*}*/


