* {
        box-sizing: border-box;
}

body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
}
        .alert-info  {
        text-align: center;
        background-color: rgba(191,252,250,0.98);
        height: 2.5em;
        display: flex;
        justify-content: center;

        }
        .alert-info > a {
                color: black;
                text-decoration: none;
                padding-top: .75em;
        }

        h1 {
            text-align: center;
            font-size: 36px;
            margin-top: 10px;

        }
        .nav-links {
                list-style: none;
                text-align: center;
                padding-left: 0;

        }

        .nav-links > li {
                background-color: lightgray;
                padding: .60em;
                margin: .5em;
        }

        .header-img  img {
        width: 100%;
        object-fit: cover;
        }

@media screen and (min-width: 992px) {
        * {
                box-sizing: border-box;

        }
        body {

        }

        .alert-info {
                display: none;
        }

        .company {
                display: flex;
                flex-direction: row;
        }



        h1 {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
        }

        .company .nav-links {
                display: flex;
                flex-direction: row;

        }

        .nav {
              margin-left: auto;
        }

        .nav-links > li {
                background: none;
                display: flex;
        }

        .nav-links > li > a {
                text-decoration: none;
        }

        .header-img img {
                width: 100%;
        }

        #main\ body {
                display: flex;
        }

        .main > p {
                display: flex;
                margin-right: 50px;


        }

}

