html {
    background-color: beige;
    background-image:url(../white-waves.png);
    font-family:Papyrus;
}
h1, .fancy-header {
    text-align: center;
    color:rgba(10,23,48,0.98);
    text-decoration: underline;
}

h2 {
    color: rgba(10,23,48,0.98);
    text-decoration: underline;
}

ul {
    list-style:square;
}

th, td {
    border: 1px solid black;
    padding: 15px;
    font-size: medium;
}

section{
    text-align:center;
}